html, body
      {
        height: 100%;
      }

.container, .content
      {
          padding: 0;
          font-weight: 100;
          font-family: arial, sans-serif;
          font-size:1.25em;
		      width : 80%;
          display: block;
          margin: auto;
      }

.logo img
      {
        padding-left: .3em;
        padding-top: 1.5em;
        padding-bottom: 2em;
        height: 35%;
        width : 35%;
      }



.active
      {
        padding: .18em;
        background-color: #F0D3D3;
      }

a:link {
      color: firebrick;
}

a:visited {
      color: firebrick;
}

a:hover {
      color: firebrick;
}

a:active {
      color: firebrick;
}

#r_home, #r_guide, #r_add,  #r_show,  #r_delete,  #logout {
      color: firebrick;
}

nav  {
      		font-size : 1.3em;
          color: firebrick;
      		background-color: #6699CC;
      		font-weight: bold;
      		padding: .5em;
		  }

nav ul li
      {
      		display: inline;
      		padding: .3em;
		  }

nav ul li a
      {
      		text-decoration : none;
		  }

fieldset
      {
		      padding : .5em;
          padding-left : 1em;
          border : 1.25px solid firebrick;
		  }

input[type="submit"]
      {
		      color : firebrick;
		  }

.red {
          color : firebrick;
    }

.flash_message  {
      color: firebrick;
      padding: .5em;
      font-size: 1.2em;
}

.title
      {
		      margin-left: -39em;
          font-size: .5em;
      		color : firebrick;
      		text-align: center;
      }

.bold
      {
        font-weight: bold;
      }

.footer
      {
      		font-size: .8em;
      		color : #666666;
      		text-align : center;
	    }

h4 {
      	border-top: 1px solid black;
      	padding-top: 1em;
      	width: 95%;
      }

.button {
          color: blue;
          border-color: blue;
      }

.button:hover {
      	cursor: pointer;
      	background-color: #ccc;
      	color: black;
      }

#title_count, #research_count, #abstract_count {
          display: none;
          margin-left: 10em;
          font-size: 16px;
      }

#paper_track {
          display: none;
          margin-left: -.1em;
      }

#paper_track, #title_count, #research_count, #abstract_count {
          color: red;
      }
